In [1]:
import json
import requests
import pandas as pd
from datetime import datetime

In [2]:
session = requests.Session()
url = "https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
response = session.get(url)
all_cookies=session.cookies.get_dict()[".AspNet.ApplicationCookie"]
COOKIE="ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie="+all_cookies
print(COOKIE)

ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie=aEJMZkyT036Rw57qJdJ5DTYJ6LvDEd9KavUP7FpBm7RKmHw6D3MjBmVSSU0hlS7P3iD25diH1oDn_pfSTuGG1gqRp2G2DM_FP_o9Ydhv9Z4x4hEgzDnGv6mOSXJafHwgzINTyZG5UOhK5zRjM3_7VNGzwVw7yrzwCiZyai6AQLD8WJ3f4QnxjNP2MExeOEA8G5yjb-uKiTAXWE7HXBSGhrmilgg1H5UPIVvmW6wTjugrQbkFjB1RgfCHLv--_HKrOtyu26P9DJXqnX1MqWu7Xhux4ktA85IqvLBq80WnXKnqAv7UenhzPWlq47WOqGhvheWJTaOrZivpM3JSbtk3fQIFxT_oPUfBmJWJa3TLqeQ-YuwEcMVNbCmtAM5OOpdY7sGQ8lAtCtlncHlonLDu0AS-0MddwzkpOUwi0-96NEk2c49EK7W0T8NAbD3t0xXJnZlJOpPU2w85KO_OyPCqNf81MOg7Ev1DVD8OpfyDjvIBMDjy9lTOhP_1PFFKjWYl4jD9jDbibfYFvIgDkU5w5kVLim-rJQwUR_f_62sHIB0zcvDsq4pN4-ss6qRpls5KvJY9ZxxcU8mMATEGTjH8FNxc-fmbZPPZFYp7iXLuECVPOEKws6Wv2RpV74mkSpA3-_yUxjv2qTRyBwmr2rPxMg

# Estados por clave

In [3]:
ESTADOS = ['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche',
 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua','Ciudad de México',
 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de México',
 'Michoacán', 'Morelos', 'Nayarit', 'Nuevo León','Oaxaca', 'Puebla',
 'Querétaro', 'Quintana Roo', 'San Luis Potosí','Sinaloa', 'Sonora',
 'Tabasco', 'Tamaulipas','Tlaxcala', 'Veracruz','Yucatán',
'Zacatecas','México']

# Fechas

In [4]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/Fechas"

payload = {
    "IdRangoFechas": 1,
    "FechaInicial": None,
    "FechaFinal": None
}

headers = {
    'content-type': "application/json; charset=UTF-8",
    "cookie": COOKIE,
    'user-agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
    }

response = requests.request("POST", url, json=payload, headers=headers)

json_data = json.loads(response.content)
Periodo=json_data['Periodo']
Periodo

'PERIODO DEL 01/01/1962 09:00 HRS AL 03/06/2023 11:40 HRS'

Desde cuando hasta la fecha de actualizacion

## PERSONAS DESAPARECIDAS Y NO LOCALIZADAS EN MÉXICO POR ESTADO

In [5]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/MapChartEntidades"

headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)

json_data = json.loads(response.content)
print(json_data['Title'])


PERSONAS_DESAP_Y_NO_LOC_XEDO_DF={"EDOSCLAVE":[],"ESTADOS":ESTADOS,"PERSONAS_DESAP_Y_NO_LOC_XEDO" :[]}

for i in json_data['Series']:
    PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["PERSONAS_DESAP_Y_NO_LOC_XEDO"].append(i[1])
    PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["EDOSCLAVE"].append(i[0])

PERSONAS_DESAP_Y_NO_LOC_XEDO_Df=pd.DataFrame(PERSONAS_DESAP_Y_NO_LOC_XEDO_DF)

list123=[]
for i in range(len(PERSONAS_DESAP_Y_NO_LOC_XEDO_DF["EDOSCLAVE"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERSONAS_DESAP_Y_NO_LOC_XEDO_Df["Fecha"]=list123
dfviejo=pd.read_excel('PERSONAS_DESAP_Y_NO_LOC_XEDO_Df.xlsx')
df=pd.concat([dfviejo, PERSONAS_DESAP_Y_NO_LOC_XEDO_Df], sort=True,ignore_index=True)
df.to_excel('PERSONAS_DESAP_Y_NO_LOC_XEDO_Df.xlsx',index=False)
df

PERSONAS DESAPARECIDAS Y NO LOCALIZADAS EN MÉXICO

,EDOSCLAVE,ESTADOS,Fecha,PERSONAS_DESAP_Y_NO_LOC_XEDO
0,mx-ag,Aguascalientes,2023-05-30 00:00:00,381
1,mx-bc,Baja California,2023-05-30 00:00:00,2376
2,mx-bs,Baja California Sur,2023-05-30 00:00:00,908
3,mx-cm,Campeche,2023-05-30 00:00:00,145
4,mx-co,Coahuila,2023-05-30 00:00:00,3574
...,...,...,...,...
160,mx-tl,Tlaxcala,2023-06-03,125
161,mx-ve,Veracruz,2023-06-03,7346
162,mx-yu,Yucatán,2023-06-03,339
163,mx-za,Zacatecas,2023-06-03,3643
164,mx-3622,México,2023-06-03,965

# Totales

In [6]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/Totales"


headers = {
    'cache-control': "no-cache",
    'cookie': COOKIE
    }

response = requests.request("POST", url, headers=headers)

json_data = json.loads(response.content)
Categoria_totales=["TotalGlobal","TotalDesaparecidos","TotalLocalizados","PorcentajeDesaparecidos","PorcentajeLocalizados",
"TotalSoloDesaparecidos","TotalSoloNoLocalizados","PorcentajeSoloDesaparecidos","PorcentajeSoloNoLocalizados",
"TotalLocalizadosCV","TotalLocalizadosSV","PorcentajeLocalizadosCV","PorcentajeLocalizadosSV"]
totales=[]
for i in Categoria_totales:
    totales.append(json_data[i])
Totales_df={"CATEGORIA":["Total Global","Total Desaparecidos","Total Localizados","Porcentaje Desaparecidos","Porcentaje Localizados",
"Total Solo Desaparecidos","Total Solo No Localizados","Porcentaje Solo Desaparecidos","Porcentaje Solo No Localizados",
"Total Localizados CV","TotalLocalizados SV","Porcentaje Localizados CV","Porcentaje Localizados SV"],"TOTALES":totales}
Totales_Df=pd.DataFrame(Totales_df)

list123=[]
for i in range(len(Totales_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
Totales_Df["Fecha"]=list123
dfviejo=pd.read_excel('Totales_Df.xlsx')
df=pd.concat([dfviejo, Totales_Df], sort=True,ignore_index=True)
df.to_excel('Totales_Df.xlsx',index=False)
df

                         CATEGORIA                Fecha  TOTALES
0                     Total Global  2023-05-30 00:00:00  283,424
1              Total Desaparecidos  2023-05-30 00:00:00  110,770
2                Total Localizados  2023-05-30 00:00:00  172,654
3         Porcentaje Desaparecidos  2023-05-30 00:00:00  39.08 %
4           Porcentaje Localizados  2023-05-30 00:00:00  60.92 %
..                             ...                  ...      ...
60  Porcentaje Solo No Localizados           2023-06-03  12.78 %
61            Total Localizados CV           2023-06-03  161,412
62             TotalLocalizados SV           2023-06-03   12,385
63       Porcentaje Localizados CV           2023-06-03  92.87 %
64       Porcentaje Localizados SV           2023-06-03   7.13 %

[65 rows x 3 columns]

# PERSONAS DESAPARECIDAS Y NO LOCALIZADAS, Y LOCALIZADAS

In [7]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartDesaparecidos"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
print(json_data['Title'])
PERS_DES_YNOLOCYLOCCAT=[]
PERS_DES_YNOLOCYLOC=[]
PERS_DES_YNOLOCYLOCCAT.append(json_data["Series"][0]["data"][0]["name"])
PERS_DES_YNOLOCYLOC.append(json_data["Series"][0]["data"][0]["y"])
PERS_DES_YNOLOCYLOCCAT.append(json_data["Series"][0]["data"][1]["name"])
PERS_DES_YNOLOCYLOC.append(json_data["Series"][0]["data"][1]["y"])
PERS_DES_YNOLOCYLOC_DF={'CATEGORIA':PERS_DES_YNOLOCYLOCCAT,"PERSONAS":PERS_DES_YNOLOCYLOC}
PERS_DES_YNOLOCYLOC_Df=pd.DataFrame(PERS_DES_YNOLOCYLOC_DF)
#PERS_DES_YNOLOCYLOC_Df.to_excel('PERS_DES_YNOLOCYLOC_Df.xlsx',index=False)
PERS_DES_YNOLOCYLOC_Df.head()

list123=[]
for i in range(len(PERS_DES_YNOLOCYLOC_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DES_YNOLOCYLOC_Df["Fecha"]=list123
dfviejo=pd.read_excel('PERS_DES_YNOLOCYLOC_Df.xlsx')
df=pd.concat([dfviejo, PERS_DES_YNOLOCYLOC_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DES_YNOLOCYLOC_Df.xlsx',index=False)
df

PERSONAS DESAPARECIDAS Y NO LOCALIZADAS, Y LOCALIZADAS

                        CATEGORIA                Fecha  PERSONAS
0                     Localizadas  2023-05-30 00:00:00    172654
1  Desaparecidas y No localizadas  2023-05-30 00:00:00    110770
2                     Localizadas  2023-05-31 00:00:00    173563
3  Desaparecidas y No localizadas  2023-05-31 00:00:00    110666
4                     Localizadas  2023-06-01 00:00:00    173789
5  Desaparecidas y No localizadas  2023-06-01 00:00:00    110745
6                     Localizadas  2023-06-02 00:00:00    173789
7  Desaparecidas y No localizadas  2023-06-02 00:00:00    110745
8                     Localizadas           2023-06-03    173797
9  Desaparecidas y No localizadas           2023-06-03    110753

# PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS
## POR NACIONALIDAD MEXICANA Y EXTRANJEROS

In [8]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartNacionalidad"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_DESAP_NOLOCYLOCPORNAC=[]
PERS_DESAP_NOLOCYLOCPORNAC=[]

CAT_PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][1]['name'])
PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][0]['y'])
PERS_DESAP_NOLOCYLOCPORNAC.append(json_data['Series'][0]["data"][1]['y'])
PERS_DESAP_NOLOCYLOCPORNA_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORNAC,"PERSONAS":PERS_DESAP_NOLOCYLOCPORNAC}
PERS_DESAP_NOLOCYLOCPORNA_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORNA_DF)

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORNA_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
list123
PERS_DESAP_NOLOCYLOCPORNA_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORNA_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORNA_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORNA_Df.xlsx',index=False)
df

    CATEGORIA                Fecha  PERSONAS
0  Extranjera  2023-05-30 00:00:00      4273
1    Mexicana  2023-05-30 00:00:00    259251
2  Extranjera  2023-05-31 00:00:00      4291
3    Mexicana  2023-05-31 00:00:00    259615
4  Extranjera  2023-06-01 00:00:00      4297
5    Mexicana  2023-06-01 00:00:00    259914
6  Extranjera  2023-06-02 00:00:00      4297
7    Mexicana  2023-06-02 00:00:00    259914
8  Extranjera           2023-06-03      4297
9    Mexicana           2023-06-03    259930

# PERSONAS LOCALIZADAS
## CON VIDA y SIN VIDA

In [9]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartLocalizados"

headers = {
    "cache-control": "no-cache",
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_LOC_CONVIDA_SINVIDA=[]
PERS_LOC_CONVIDA_SINVIDA=[]

CAT_PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][1]['name'])
PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][0]['y'])
PERS_LOC_CONVIDA_SINVIDA.append(json_data['Series'][0]["data"][1]['y'])
PERS_LOC_CONVIDA_SINVIDA_DF={'CATEGORIA':CAT_PERS_LOC_CONVIDA_SINVIDA,"PERSONAS":PERS_LOC_CONVIDA_SINVIDA}
PERS_LOC_CONVIDA_SINVIDA_Df=pd.DataFrame(PERS_LOC_CONVIDA_SINVIDA_DF)


list123=[]
for i in range(len(PERS_LOC_CONVIDA_SINVIDA_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_LOC_CONVIDA_SINVIDA_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_LOC_CONVIDA_SINVIDA_Df.xlsx')
df=pd.concat([dfviejo, PERS_LOC_CONVIDA_SINVIDA_Df], sort=True,ignore_index=True)
df.to_excel('PERS_LOC_CONVIDA_SINVIDA_Df.xlsx',index=False)
df

              CATEGORIA                Fecha  PERSONAS
0  Localizadas con vida  2023-05-30 00:00:00    160780
1  Localizadas sin vida  2023-05-30 00:00:00     12322
2  Localizadas con vida  2023-05-31 00:00:00    161210
3  Localizadas sin vida  2023-05-31 00:00:00     12353
4  Localizadas con vida  2023-06-01 00:00:00    161405
5  Localizadas sin vida  2023-06-01 00:00:00     12384
6  Localizadas con vida  2023-06-02 00:00:00    161405
7  Localizadas sin vida  2023-06-02 00:00:00     12384
8  Localizadas con vida           2023-06-03    161412
9  Localizadas sin vida           2023-06-03     12385

# PERSONAS DESAPARECIDAS Y NO LOCALIZADAS
## POR SEXO

In [10]:
url = "https://versionpublicarnpdno.segob.gob.mx/ContextoGeneral/PieChartSexoEstatus"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)
CAT_PERS_DESAP_NOLOCYLOCPORSEX=[]
PERS_DESAP_NOLOCYLOCPORSEX=[]

CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][0]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][1]['name'])
CAT_PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][2]['name'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][0]['y'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][1]['y'])
PERS_DESAP_NOLOCYLOCPORSEX.append(json_data['Series'][0]["data"][2]['y'])
PERS_DESAP_NOLOCYLOCPORSEX_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORSEX,"PERSONAS":PERS_DESAP_NOLOCYLOCPORSEX}
PERS_DESAP_NOLOCYLOCPORSEX_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORSEX_DF)
PERS_DESAP_NOLOCYLOCPORSEX_Df.to_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx',index=False)
PERS_DESAP_NOLOCYLOCPORSEX_Df.head()

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORSEX_Df["PERSONAS"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORSEX_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORSEX_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORSEX_Df.xlsx',index=False)
df

       CATEGORIA       Fecha  PERSONAS
0         Hombre         NaN     83177
1          Mujer         NaN     26873
2  Indeterminado         NaN       703
3         Hombre  2023-06-03     83177
4          Mujer  2023-06-03     26873
5  Indeterminado  2023-06-03       703

# PERSONAS DESAPARECIDAS, NO LOCALIZADAS Y LOCALIZADAS
## POR SEXO Y ESTADO

In [11]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/BarChartSexoEstados"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPOREDO=[]
PERS_DESAP_NOLOCYLOCPOREDO_Hombre=[]
PERS_DESAP_NOLOCYLOCPOREDO_Mujer=[]
PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPOREDO.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPOREDO_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPOREDO_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPOREDO,"Hombre":PERS_DESAP_NOLOCYLOCPOREDO_Hombre,"Mujer":PERS_DESAP_NOLOCYLOCPOREDO_Mujer,"Indeterminado":PERS_DESAP_NOLOCYLOCPOREDO_Indeterminado}
PERS_DESAP_NOLOCYLOCPOREDO_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPOREDO_DF)

list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPOREDO_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPOREDO_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPOREDO_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPOREDO_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPOREDO_Df.xlsx',index=False)
df

               CATEGORIA                Fecha  Hombre  Indeterminado  Mujer
0         AGUASCALIENTES  2023-05-30 00:00:00    2037              2   2687
1        BAJA CALIFORNIA  2023-05-30 00:00:00    2946              5   2172
2    BAJA CALIFORNIA SUR  2023-05-30 00:00:00    1188              4    561
3               CAMPECHE  2023-05-30 00:00:00     537              2    771
4               COAHUILA  2023-05-30 00:00:00    3428             10   1245
..                   ...                  ...     ...            ...    ...
160             TLAXCALA           2023-06-03     371              2    412
161            VERACRUZ            2023-06-03    8475             44   4484
162              YUCATAN           2023-06-03    2713              0   4299
163            ZACATECAS           2023-06-03    4020              1   1650
164         SE DESCONOCE           2023-06-03     682            122    319

[165 rows x 5 columns]

In [13]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/AreaChartSexoRango"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPORedad=[]
PERS_DESAP_NOLOCYLOCPORedad_Hombre=[]
PERS_DESAP_NOLOCYLOCPORedad_Mujer=[]
PERS_DESAP_NOLOCYLOCPORedad_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPORedad.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPORedad_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPORedad_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPORedad_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPORedad_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORedad,"Hombre":PERS_DESAP_NOLOCYLOCPORedad_Hombre,"Mujer":PERS_DESAP_NOLOCYLOCPORedad_Mujer,"Indeterminado":PERS_DESAP_NOLOCYLOCPORedad_Indeterminado}
PERS_DESAP_NOLOCYLOCPORedad_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORedad_DF)
list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORedad_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORedad_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORyear_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORyear_Df.xlsx',index=False)
df

,CATEGORIA,Fecha,Hombre,Indeterminado,Mujer
0,1.CIFRA SIN AÑO DE REFERENCIA,2023-06-01 00:00:00,20954,326,18605
1,1962,2023-06-01 00:00:00,1,0,0
2,1964,2023-06-01 00:00:00,3,0,0
3,1965,2023-06-01 00:00:00,1,0,0
4,1966,2023-06-01 00:00:00,1,0,0
...,...,...,...,...,...
243,2019,2023-06-03,14813,258,8771
244,2020,2023-06-03,14212,31,9236
245,2021,2023-06-03,14402,7,8812
246,2022,2023-06-03,13339,23,8468
247,2023,2023-06-03,5857,16,4051

In [14]:
url = "https://versionpublicarnpdno.segob.gob.mx/SocioDemografico/BarChartSexoNacionalidad"
payload = {"IdEstatusV": 1}
headers = {
    "cookie": COOKIE,
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36",
}

response = requests.request("POST", url, json=payload, headers=headers)
json_data = json.loads(response.content)

CAT_PERS_DESAP_NOLOCYLOCPORnac=[]
PERS_DESAP_NOLOCYLOCPORnac_Hombre=[]
PERS_DESAP_NOLOCYLOCPORnac_Mujer=[]
PERS_DESAP_NOLOCYLOCPORnac_Indeterminado=[]
CAT_PERS_DESAP_NOLOCYLOCPORnac.extend(json_data['XAxisCategories'])
PERS_DESAP_NOLOCYLOCPORnac_Hombre.extend(json_data['Series'][0]['data'])
PERS_DESAP_NOLOCYLOCPORnac_Mujer.extend(json_data['Series'][1]['data'])
PERS_DESAP_NOLOCYLOCPORnac_Indeterminado.extend(json_data['Series'][2]['data'])
PERS_DESAP_NOLOCYLOCPORnac_DF={'CATEGORIA':CAT_PERS_DESAP_NOLOCYLOCPORnac,
                               "Hombre":PERS_DESAP_NOLOCYLOCPORnac_Hombre,
                               "Mujer":PERS_DESAP_NOLOCYLOCPORnac_Mujer,
                               "Indeterminado":PERS_DESAP_NOLOCYLOCPORnac_Indeterminado}
PERS_DESAP_NOLOCYLOCPORnac_Df=pd.DataFrame(PERS_DESAP_NOLOCYLOCPORnac_DF)
list123=[]
for i in range(len(PERS_DESAP_NOLOCYLOCPORnac_Df["CATEGORIA"])):
        ahora=datetime.now()
        fecha=ahora.date()
        list123.append(fecha)
PERS_DESAP_NOLOCYLOCPORnac_Df["Fecha"]=list123

dfviejo=pd.read_excel('PERS_DESAP_NOLOCYLOCPORnac_Df.xlsx')
df=pd.concat([dfviejo, PERS_DESAP_NOLOCYLOCPORnac_Df], sort=True,ignore_index=True)
df.to_excel('PERS_DESAP_NOLOCYLOCPORnac_Df.xlsx',index=False)
df

,CATEGORIA,Fecha,Hombre,Indeterminado,Mujer
0,MEXICANA,2023-05-31 00:00:00,150837,272,107665
1,SE DESCONOCE,2023-05-31 00:00:00,9393,567,3685
2,SIN NACIONALIDAD DE REFERENCIA,2023-05-31 00:00:00,3360,0,4291
3,ESTADOUNIDENSE,2023-05-31 00:00:00,648,1,562
4,HONDUREÑA,2023-05-31 00:00:00,489,1,222
...,...,...,...,...,...
115,CHINA,2023-06-03,7,0,2
116,INGLESA,2023-06-03,7,0,2
117,POLACA,2023-06-03,6,0,3
118,ESTADOS INDEPENDIENTES,2023-06-03,6,0,4
119,FRANCESA,2023-06-03,6,0,2

https://adondevanlosdesaparecidos.org/2020/07/13/presentan-plataforma-de-personas-desaparecidas-pero-no-abren-datos/

In [15]:
#from lxml import etree
#import pandas as pd 
#import datetime 
#from lxml import html
#import random
#from selenium import webdriver
#from selenium.webdriver.common.by import By
#from selenium.webdriver.support import expected_conditions as EC
#from selenium.webdriver.support.ui import WebDriverWait
#import time

#url="https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
#driver=webdriver.Chrome('./chromedriver.exe')
#driver.get(url)

#try:
#    checkbox = driver.find_element(By.ID, "chkAceptarTerminos")
#    checkbox.click()
#    boton = driver.find_element(By.ID, "EnlaceSiguiente")
#    boton.click()
#except:
#    print("No hay términos")
#try:
#    boton3 = driver.find_element(By.ID, "EnlaceSiguiente")
#    boton3.click()
#except:
#    print("No hay 2da advertencia")    
#try:
#    boton2 = driver.find_element(By.ID, "close-modal-cargas-masivas")
#    boton2.click()
#except:
#    print("No hay cargas masivas")
#time.sleep(35) 
#codigo con selenium (1era prueba)
#import requests 
#from bs4 import BeautifulSoup 
  
#Total_de_personas_desaparecidasnolocyloc = driver.find_element(By.ID, "TotalGlobal").text
#Total_de_personas_desaparecidasnoloc = driver.find_element(By.ID, "TotalDesaparecidosNoLocalizados").text
#print(Total_de_personas_desaparecidasnoloc)

#element = driver.find_element(By.XPATH, "//*[@id='highcharts-qj6v20v-978']/svg/g[3]/g/rect")
#element.click()

In [16]:
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#url="https://versionpublicarnpdno.segob.gob.mx/Dashboard/ContextoGeneral"
#driver=webdriver.Chrome('./chromedriver.exe')
#driver.get(url)
#all_cookies=driver.get_cookies()
#COOKIE="ASP.NET_SessionId=bmaqoqfbffauwy0bxvay1g42; .AspNet.ApplicationCookie="+all_cookies[0]['value']
#print(COOKIE)
#driver.close()